.full-size {
    height: 100vh;
    width: 100vw;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-container {
    border: 2.5px solid black;
    padding: 65px 100px;
    border-radius: 5px;
    margin-bottom: 200px;
}

.top-margin {
    margin-top: 50px;
}
